.resident-form__container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.resident-form__container {
  text-align: center;
}

.resident-form__title {
  text-align: center;
}

.resident-form__progress {
  box-shadow: 3px 3px 5px 0 #999999;
  border-radius: 3px;
  background: #dcdcdc;
  margin: 20px;
}

.resident-form__progress-bar {
  width: 0%;
  border-radius: 3px;
  transition: 1s;
  height: 12px;
  background: #ff3737;
  position: relative;
}

.resident-form__progress-bar-percent {
  color: #ff3737;
  font-weight: 700;
  font-size: 10px;
  position: absolute;
  right: 1px;
  bottom: 0px;
  transition: 1s;
}

.resident-form__form-container {
  text-align: left;
  margin: 10px auto;
  overflow: hidden;
  width: 500px;
  position: relative;
}

.resident-form__form {
  width: 100%;
  display: flex;
  transform: translateX(0%);
  transition: 1s;
}

.resident-form__firstForm,
.resident-form__secondForm,
.resident-form__thirdForm {
  text-align: center;
  width: 100%;
  height: 220px;
  background: #999999;
  flex-basis: 100%;
  flex-shrink: 0;
}
.resident-form__firstForm {
  background: lightcoral;
}
.resident-form__secondForm {
  background: lightgreen;
}
.resident-form__thirdForm {
  background: lightseagreen;
}

.resident-form__form-element {
  padding: 5px 15px;
  font-size: 15px;
  width: 235px;
  height: 40px;
  border: 1px solid #707070;
  color: #d6d6d6;
  border-radius: 11px;
  background: #fff;
  box-sizing: border-box;
  outline: none;
  color: #4a4a4a;
}

/* .__buttons-control {
  
} */

.card {
  width: 500px;
  font-family: Arial;  
  height: 318px;
  margin: 0 auto; 
  background-color: #ffffff;
  background-image: url("usmap.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 60px, 50px;
  user-select: none;
}

.card__container {
  width: 500px;
  height: 318px;
  background-image: linear-gradient(to right, #3acc72c4 10%, #b5f9e4d1 64%);
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.card h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 19px;
}

.card__all-data {
  margin: 0 20px;
  position: relative;
}

.card__all-data:after {
  content: "";
  background: url("printfinger.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(30deg);
}

.card__all-data-container {
  display: flex;
}

.card__name {
  margin: 5px 0;
  text-align: left;
}

.card__gender-block {
  border-radius: 15px;
  background-color: #ffffffd3;
  /* background-image: url('male.png');  */
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 160px;
}

.card__gender-block--male {
  background-image: url('male.png'); 
}

.card__gender-block--female {
  background-image: url('female.png'); 
}

.card__data-block {
  width: 345px;
  margin-left: 10px;
  text-align: left;
}

.card__insa {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.card__row {
  display: flex;
}

.card__column {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.card__column--long {
  width: calc((100% / 3) * 2);
}

.card__title {
  font-size: 12px;
  font-weight: 600;

  color: #2f2eef;
  margin: 7.5px 0;
}

.card__title--bold {
  font-weight: bold;
}

.card__title--red {
  color: #ff0000;
}

.card__data-text {
  font-size: 12px;
  /* text-transform: uppercase; */
}

.card__footer {
  height: 80px;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 3px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to right, #3acc728c 43%, #b5f9e485 93%);
}

.card__footer-span {
  letter-spacing: 3.25px;
}

.add-arrow {
  position: relative;
}

.add-arrow:after {
  position: absolute;
  content: "<<";
  top: 20px;
  right: 1px;
}

.add-arrow--last:after {
  content: "<<<<<<<<<<<<<<<";
}

.resident-form__form-container [type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  right: 3000px;
  opacity: 0;
}

.resident-form__radio-male-input:checked + .resident-form__label-male,
.resident-form__radio-female-input:checked + .resident-form__label-female{
  opacity: 0.7;
}

.resident-form__label-male,
.resident-form__label-female {
  border-radius: 15px;
  display: inline-block;
  background-color: #ffffff;
  background-image: url('male.png'); 
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.resident-form__label-female {
  
  background-image: url('female.png');
}

.resident-form__label-male:hover,
.resident-form__label-female:hover {
  transition: 0.5s;
  opacity: 0.5;
}